

.one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  

 
}



.package {
  display: flex;
  align-items: center;
  justify-content: space-evenly; 
 
 
} 


.a {
  
}

.b {
  display: flex;
  flex-direction: column;
}

.b1 {
  
  display: flex;
}

.c {
  
}

.title {

}

.session {
  
}

.btUp {
  
  height:30px;
  width: 30px;
  
  
}

.btDown {
  
  height:30px;
  width: 30px;
  
  
}

.breakT {
  
}

.sessionTitle {
  font-size: 50px;
  
}

.display {
  font-size: 70px;
  
}

.btStart {
  
  height:50px;
  width: 50px;
  
  
}

.btStop {
  
  height:50px;
  width: 50px;
  
  
}

.btReset {
  
  height:50px;
  width: 50px;
  
  
}


